.metric-item {
  padding: 0.2rem;
  display:flex;
  justify-content: space-between;
  >* {
    flex: 1;
  }
}

img {
  width: 8rem;
  height: 8rem;
  vertical-align: top;
  margin-right: 20px;
}

.wrapper {
  width: 50rem;
  height: 40rem;
}

table {
  width: 100%;
}