@import "../../styles/colors.scss";

// img {
//   max-height: 100%;
//   width: auto;
//   height: 100%;
//   box-sizing: border-box;
//   padding: 0.3rem;
// }
span.title {
  margin-right: 12px;
}
mat-icon {
  margin-right: 6px;
}
.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  flex: 1;
  .sidenav {
    min-width: 240px;
    a {
      display: block;
      padding: 6px 24px;
      width: 100%;
      text-align: left;
    }
  }
  main {
    padding: 18px 24px;
  }
}
