table.mat-mdc-table {
  width: 96%;
}

#container {
  padding: 1rem;
}
.mat-mdc-form-field {
  margin-right: 1rem;
}

img {
  width: 2rem;
  height: 2rem;
  display: inline;
  vertical-align: middle;
}
