@import "../../styles/colors.scss";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.table-container {
  flex: 1 1 45%;
  overflow: scroll;
  max-height: 1000px;
}

@media screen and (max-width: 1200px) {
  .container, .table-container {
    flex: 1 1 100%;
  }
}

.mat-column-name_de {
  width: 300px;
  max-width: 1000px;
  word-wrap: break-word;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 20px 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px -5px 10px -5px #9e9e9e, 5px 0px 10px -5px #9e9e9e, 0px 5px 10px -5px #9e9e9e, -5px 0px 10px -5px #9e9e9e;
  flex: 1 1 25%;
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
  line-height: 200%;
}


.input-box {
  width: 100%;
  margin-top: 10px;
}

.input-box label {
  color: #333;
}

.input-box input, .select-box {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border-radius: 10px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.column {
  display: flex;
  column-gap: 50px;
}

.submit-btn, .delete-btn, .btn-add-delete, .inside-btn {
  height: 50%;
  width: 20%;
  color: #fff;
  font-size: small;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}

.submit-btn {
  background: #888;
}

.submit-btn:hover {
  background: #555;
}

.delete-btn {
  background: #d82222;
}

.delete-btn:hover {
  background: #da6565;
}

.btn-add-delete {
  margin: 10px 0px;
  padding: 14px 30px;
  background: #888;
}

.btn-add-delete:hover, .inside-btn:hover {
  background: #555;
}

@media screen and (max-width: 500px) {
  .column {
    flex-wrap: wrap;
  }
  .gender-option, .gender {
    row-gap: 15px;
  }
}

.form-shadow {
  box-shadow: rgba(187, 185, 185, 0.35) 0px 5px 15px;
}

input.ng-invalid.ng-touched {
  border: #673ab7 1px solid;
}

small {
  color: #673ab7;
  font-weight: bold;
}

span {
  padding: 5px 5px;
  font-weight: bold;
}

.container.VALID {
  border: green 2px solid;
}

.container.INVALID {
  border: #673ab7 1px solid;
}

.button-container {
  position: relative;
}

.inside-btn {
  position: absolute;
  background: #888;
  top: 5%;
  right: 1px;
}
