/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clickable:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

td.mat-mdc-cell.number {
  text-align: center;
}

th.mat-mdc-header-cell.number {
  text-align: center;
}

td.mat-mdc-cell {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

th.mat-mdc-header-cell {
  padding-left: 10px !important;
}

// Custom Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (min-width: 1250px) {
  .only-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 1250px) {
  .only-pc {
    display: none !important;
  }
}
