.visualizations {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.visualizations > * {
  min-height: 500px;
}

mat-card {
  width: 85%;
  max-width: 1200px;
  margin: 1rem auto;
}
