.visualizations {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.visualizations > * {
  min-height: 500px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  width: 85%;
  max-width: 1200px;
  margin: 1rem auto;
}
