img {
  width: 2rem;
  height: 2rem;
  display: inline;
  vertical-align: middle;
}

h1,
.mat-form-field,
table.mat-table {
  margin: 2%;
  width: 96%;
}

.mat-checkbox {
  margin: 2%;
}

.mat-form-field {
  margin-bottom: 2%;
  width: auto;
}

p {
  margin-left: 2%;
  margin-top: 0;
  margin-bottom: 0;
}
