img {
  width: 2rem;
  height: 2rem;
  display: inline;
  vertical-align: middle;
}

h1,
.mat-mdc-form-field,
table.mat-mdc-table {
  width: 96%;
}

.mat-mdc-form-field {
  width: auto;
}

a {
  color: black;
  text-decoration: none;
  height: 5em;
  width: 100%;
  display: flex;
  place-items: center;
}

#container {
  padding: 1rem;
}
.mat-mdc-form-field {
  margin-right: 1rem;
}
