
$color1: #FFA69E;
$color2: #FAF3DD;
$color3: #b8f2e6;
$color4: #aed9e0;
$color5: #5e6472;

$background: #efefef;
$background-light: #e1ffff;
$main: $color4;
$secondary: $color2;

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

$navigation-height: 4rem;

.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.main-nav {
    height: $navigation-height;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $background;
    z-index:1;
}

.main-content {
    overflow-y: auto;
}

nav {
    height: 100%;
    display: flex;
}
nav>img {
    max-height: 100%;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    padding: 0.3rem;
}

aside {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.dimensions {
    display: flex;
    vertical-align: center;
    &>div {
	margin: 1rem;
    }
}

main {
    overflow-y: auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#repoList {
    text-decoration: none;
}

#panel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 0 auto;
    min-height: 100vh;
    width: 100vw;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #eee;
}

.viz-panel {
    width: 90%;
    height: 600px;
    border: 1px solid #bbb;
}
